.header {
  display: flex;
  h1 {
    //text-align: center;
    margin-left: 200px;
  }
}
html,
body {
  height: 50%;
}
grid {
  height: 20px;
}

mat-grid-list {
  height: 2px;
  cols {
    width: 2px;
  }
}
.abc {
  width: 500px;
  display: grid;
  grid-template-columns: auto;
  padding: 20px;
}
.abcd {
  justify-content: flex-end;
  //margin-top: 450px;
}
.ban {
  display: grid;
  grid-template-columns: auto auto;
}
.chat-popup {
  //display: none;
  position: fixed;
  //   bottom: 0;
  //right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  margin-top: 30px;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: rgb(193, 211, 193);
}
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
.form-container textarea {
  width: 100%;

  // padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}
.result {
  border-style: solid;
  width: 100%;
  //= padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  //min-height: 200px;
}
