<div class="abcd">
  <div class="chat-popup">
    <div class="form-container">
      <h1>Chat</h1>

      <label for="msg"><b>Message</b></label>
      <textarea
        placeholder="Type message.."
        name="msg"
        [(ngModel)]="typedMessage"
      ></textarea>

      <button class="btn" (click)="postMessage()">Send</button>
      <button type="button" class="btn cancel" (click)="clearMessage()">
        Cancel
      </button>
    </div>
    <div class="senditems">
      <app-result-page></app-result-page>
    </div>
  </div>
</div>
